.item {
    background-color: #ffff;
    width: 100%;
    position: relative;
    user-select: none;
    text-decoration: none;
}

.Img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.description {
    text-align: center;
    padding: 0 10px 10px;
    font-size: 1.3em;
    font-family: "HELVETICANEUEHEAVY", sans-serif;
    color: #000000;
}

.price {
    text-align: center;
    padding: 0 10px 10px;
    font-size: 1em;
    font-family: "HELVETICANEUEHEAVY", sans-serif;
    color: #000000;
}