.footer {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.name{
    font-size: 15px;
    user-select: none;
    text-decoration: none;
    color: #646464;
    font-family: "HELVETICANEUENEUE", sans-serif;
    letter-spacing: 0.2em;
}